fastapi
uvicorn[standard]
redis
locust
python-dotenv
pydantic
pydantic-settings
langgraph
langchain-openai
langchain-core
langchain-community
langchain-experimental
dashscope
numpy
markdown
playwright
psutil
alembic
prometheus-fastapi-instrumentator
